body{
    background-image: url(https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/assets%2Ffondo%20tese.png?alt=media&token=33d18460-c25f-44f5-8fb5-ae87936877b2);
   background-size: cover;
   background-color: transparent;
   background-attachment: fixed;
}

.container{
    text-align: center;
    margin-top: 6rem;
    background-color: aliceblue;
    width: 450px;
    height: 520px;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

#webcam-container{
    border:black 5px solid ;
    width: 365px;
    height: 362px;
 margin-left: auto;
margin-right: auto; 
}

button{
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.titulo{
    font-size: 30px;
    font-weight: 600;
}

.nav-item{
    text-align: end !important;
}

.navbar-nav{
text-align: end !important;
}

.navbar{
    text-align: end;
}
#myProgress {
    width: 100%;
    background-color: grey;
  }
  
  #myBar {
    width: 1%;
    height: 30px;
    background-color: green;
  }
#label-container{
    margin-top: 0.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    font-size: larger;
}
