<div class="row justify-content-center">
  <div class="col-4">
    <img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/assets%2FLogo_tese.jpg?alt=media&token=e386dccf-f36a-4ab6-ac2e-52c7c3c9f83a" />
  </div>
  <div class="col-4">
      <div class="fondo">
          <p>Materia: Proyecto integrador de ti</p>
          <p>Profesor: Leonardo Miguel Moreno villalba</p>
          <p>Nombre: Alfonso ramirez caro</p>
          <p>Grupo: 15801</p>
          <p>primer parcial</p>
      </div>
      
  </div>
</div>
